.ecc_image {
    width: 65%;
    align-content: center;
    margin-left: 80px
}

.ecc_content{
    margin: 40px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.ecc_form{
    margin: 10px 10px 30px 10px;
    text-align: center;
    align-content: center
}

.chart {
    width: 1000px;
    margin: 20px auto;
}

.chart_heading{
    text-align: center;
    display: none;
}