<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body style="background-color: aqua">
        <form method="POST" action="/api/call_function">
            <input type="text" placeholder="p"/><br>
            <input type="text" placeholder="a"/><br>
            <input type="text" placeholder="b"/><br>
            <input type="text" placeholder="k"/><br>
            <input type="text" placeholder="Px"/><br>
            <input type="text" placeholder="Py"/><br>
            <input type="submit"/>
        </form>
    </body>
</html>